
a{
    text-decoration: none;
    color: inherit;
}

#idioma{
    width: 10%;
    margin: auto;
}


h1{
    color: #D91E0D;
    margin: auto;
}

#containerConfiguraciones{
    margin: auto;
    border: solid 2px black;
    width: 60%;
    padding: 1%;
    border-radius: 10px;
}


#containerAccesibilidad{
    margin: auto;
    border: solid 2px black;
    width: 60%;
    padding: 1%;
    border-radius: 10px;
}