li{
    /* // quitar los puntos de la lista  */
    list-style: none;
}

h1{
    color: #D91E0D;
    margin: auto;
}

a{
    text-decoration: none;
    margin: auto;
    color: inherit;
}

/* .datosDelPerfil{
    border: 2px solid black;
    width: 50%;
    margin: auto;
    padding: 2%;
    border-radius: 10px;
} */

#containerInformacionDelEstudiante{
    margin: auto;
    border: solid 2px black;
    width: 60%;
    padding: 1%;
    border-radius: 10px;
    background-color: #c7c1c1;
}

#containerInformacionDelAcudiente{
    margin: auto;
    border: solid 2px black;
    width: 60%;
    padding: 1%;
    border-radius: 10px;
    background-color: #c7c1c1;

}

#containerInformacionDelDocente{
    margin: auto;
    border: solid 2px black;
    width: 60%;
    padding: 1%;
    border-radius: 10px;
    background-color: #c7c1c1;

}

/* boton de cerrar sesion */
#cerrarSesion{
   background-color: gray;
   width: 150px;
   text-align: center;
   height: 100px;
   padding: auto;
   border-radius: 5px;
   margin: auto;
}

#eliminarCuenta{
   background-color: red;
   width: 150px;
   text-align: center;
   height: auto; 
   padding: auto;
   border-radius: 5px;
   margin: auto;
}