h1{
    color: #D91E0D;
    margin: auto;
}

#opciones_test{
    border: solid 2px black;
    margin: auto;
    width: 60%;
    border-radius: 10px;
}

label {
    margin: auto;
}

.opcion{
    display: inline;
}

.materias{
    margin: auto;
    width: auto;
    height: auto;
    margin: solid 2px black;
}

.boton_Materias{
    background-color: #D91E0D;
    color: white;
    width: auto;
    height: auto;
}

.respuesta_correcta{
    border: solid 2px rgb(4, 200, 33);
    width: 50%;
    height: 20%;
    margin: auto;
    text-align: center;
}

.ocultar_respuesta{
    display: none;
}

#verificar{
    margin: auto;
    width: 10%;
    height: 10%;
    background-color: #D91E0D;    
}